body{
    background-color:rgb(206, 206, 247);
    font: 100%;
    margin: 50px;
    border: 50px;

}

form{
    width: 50%;
    margin: 5px;
   
}

.email{
    width: 2%;
}
.senha{
    width: 2%;
}
.nome{
    padding-left: 10px;
    width:10%;
}
.endereço{
    padding-left: 10px;
    width: 2%;
}
.Cidade {
    width: 2%;
}